.MuiPaper-root{
    background-color: rgb(255, 255, 255, 0.5)!important;
    color: #fff!important;
    border-bottom: #fff!important;
}
.controleTimeline{
    background-color: rgb(255, 255, 255, 0.5);

}

.makeStyles-completed-7{
    background-image: linear-gradient( 136deg, rgb(216, 216, 216) 0%, rgb(34, 126, 180) 50%, rgb(28, 134, 255) 100%)!important;}