Nav{
    color: black;
 }
 .titleLogin{
     width: 100%;
     text-align: center;
     align-items: center;
 }
 .carde{
     border: none;
     width: 20%;
     align-items: center;
     padding: 10px;
     background: rgb(248, 248, 248);
     box-shadow: 2px 2px 1em rgb(221, 218, 218);
     margin-right: 5%;
     margin-left: 3%;
     margin-top: 4%;
 }
 .carde2{
    margin-top: 4%;
    border: none;
    width: 40%;
    align-items: center;
    padding: 20px;
    margin-right: 5%;
}
 .top{
     position: absolute;
     top:0;
     z-index: -15;
     background-size: cover;
     align-items: center;
     width: 100%;
 }
 .backLogin{
     width: 100%;
 }
 /*centralizando uma div verticalmente*/
 .geralLogin{
     height: 85vh;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
 }
 .models{
     width: 100%;
 }
