.novoBloco{
   padding-top: 5%;
   padding-bottom: 5%;
   
   
}
.propaganda{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding-left: 5%;
}