
Nav{
   color: black!important;
}
.titleLogin{
    width: 100%;
    text-align: center;
    align-items: center;
}
.carde1{
    border: none;
    width: 30%;
    align-items: center;
    padding: 20px;
}
.top{
    position: absolute;
    top:0;
    z-index: -15;
    background-size: cover;
    align-items: center;
    
}
/*centralizando uma div verticalmente*/
.geralLogin{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    background-size: cover;
}

.backLogin{
    max-width:100%;
    max-height:100vh;
    width: auto;
    height: auto; 
}
